#tabs{
    height: 100%;
}
#tabs .inicio{
    height:100%;
}
.nodo{
    width: 150px;
    min-height: 50px;
    border:2px solid grey;
    border-radius: 5px;
    padding: 20px;
    padding-top:10px;
    position: absolute;
    
    border-top: solid #907B6A 5px;
    font-size:10px;
    
}
#inicio{
    position:relative;
    
}
p{
    padding:0px;
    margin:0px;
}
.nodo .entradas{
    float:left;
    width:50%;
    text-align: left;
    position:relative;
    left: -32px;
}
.nodo .salidas{
    float:right;
    width:50%;
    text-align: right;
    position:relative;
    right: -32px;
}
.nodo .conector{
    display:inline-block;
    width:10px;
    height: 10px;
    border:2px solid #907B6A;
    border-radius: 10px;
    background:black;
    margin-left:5px;
    margin-right:5px;
    
}
.nodo .ejecucion .conector{
    display:inline-block;
    width:10px;
    height: 10px;
    border:2px solid #907B6A;
    border-radius: 0px;
    background:black;
    margin-left:5px;
    margin-right:5px;
    
}
.select2{
    width: 100% !important;
}